<div id = "wrapper"> <!-- wrapper -->

  <h1>Restful Tasks API</h1>

  <h2>New Task</h2>
  <form (submit)="onSubmit()">
        <!-- use the json pipe to see how newTask changes in real time -->
        <p> {{ newTask | json }} </p>
        <input type="text" name="newTask.title" [(ngModel)]="newTask.title">
        <input type="text" name="newTask.description" [(ngModel)]="newTask.description">
        <input type="submit" value="Create Task">
  </form>

  <h2>Task List</h2>
  <button id = "getAllTasks" (click) = "onButtonClick($event)">Click to get all tasks</button>

  <div class = "task" *ngFor = "let task of tasks">
    <h3>{{task.title}}</h3>
    <p>{{task.description}}</p>
    <!-- <button (click) = "onEditButtonClick(task._id)" class = "edit">EDIT</button> -->
    
    <form (submit) = "onDelete(task._id)">
      <input type = "submit" class = "delete" value = "DELETE">
    </form>

    <form (submit) = "onEdit(task, task._id)">
      <p>{{task | json}}</p>
      <h2>Edit a task</h2>
      <p>Title</p>
      <input type = "text" name = "task.title" [(ngModel)] = "task.title">
      <p>Description</p>
      <input type = "text" name = "task.description" [(ngModel)] = "task.description">
      <input type = "submit" value = "EDIT">
    </form>

  </div>


</div> <!-- end of wrapper -->


